{{define "curtidas"}}
<i class="fa-solid fa-heart curtir-publicacao " style="cursor: pointer"></i>
<span>{{ .Curtidas }} </span>
{{end}}

{{define "editar"}}
<a href="/publicacoes/{{ .ID }}/atualizar"><i class="fa-solid fa-pen-to-square" style="color: #74C0FC;"></i></a>
{{end}}

{{define "deletar"}}
<i class="fa-solid fa-trash deletar-publicacao" style="color: #ff0000; cursor: pointer"></i>
{{end}}

{{define "cabecalho-publicacao"}}
<h1 class="display-4">{{ .Titulo }}</h1>
<p class="lead">{{ .Conteudo }}</p>
<a href="/usuarios/{{.AutorId}}" class="text-light">{{ .AutorNick }} - {{ .CriadaEm.Format "02/01/2006 3:4" }}</a>
<hr class="my-4 border-light">

{{end}}
{{define "publicacao-com-permissao"}}
<div class="p-5 mb-4 mt-4 bg-dark text-light border border-light rounded-3" data-publicacao-id="{{.ID}}">
  {{template "cabecalho-publicacao" .}}
  <p>
    {{template "curtidas" .}}
    {{template "editar" .}}
    {{template "deletar" .}}
  </p>
</div>
{{end}}

{{define "publicacao-sem-permissao"}}
<div class="p-5 mb-4 mt-4 bg-dark text-light border border-light rounded-3" data-publicacao-id="{{.ID}}">
  {{template "cabecalho-publicacao" .}}
  <p>{{template "curtidas" .}}</p>
</div>
{{end}}